*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.container{
    box-sizing: border-box;
    display: grid;
    padding: 10px 8px 0 8px;
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 7vh 10vh 73vh;
}
.header{
    display: grid;
    grid-template-columns: 85vw 10vw;
    padding: 1vw 0;
    position: relative
    ;
    .greeting{
        font-weight: 300;
        margin-bottom: 1.5vw;
    }
    .right-header{
        align-items: center;
        padding-top: 1.1vh;
        position: relative;
        color: #121111;
    }
    .profilepic{
        width: 10vw;
        height: auto;
        border-radius: 100%;
        position: absolute;
        right: 0px;
    }
}
.search-container{
    box-sizing: border-box;
    width: 100%;
    .search-input{
        width: 75vw;
        height: 7vh;
        margin-bottom: 1.5vh;
        border: 1px solid #cac9c9;
        border-radius: 10px;
        position: absolute
    }
    .search-filter{
        width: 12vw;
        height: 7vh;
        margin-bottom: 1.5vh;
        position: absolute;
        right:10px;
    }
}
.filters-container{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    overflow: auto;
    padding: 3vw 0;
    align-items: center;
    gap: 2vw;
}
    .filter--items{
        box-sizing: border-box;
        border: 1px solid #dfdede;
        color: #292526;
        width: 22vw;
        height: 4.5vh;
        padding: 1vh 1vw;
        border-radius: 10px;
        align-items: center;
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 400;
    }
    .filter--items1{
        box-sizing: border-box;
        background-color: #292526;
        border: 1px solid #dfdede;
        color: #dfdede;
        width: 25vw;
        height: 5vh;
        padding: 1vh 2vw;
        border-radius: 10px;
        align-items: center;
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 400;
    }
    .filter-icon{
        width: 15px;
    }
.main{
    min-height: 73vh;
    padding-top: 3vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    gap: 5vw;}
    .left-cards{
        width: 45vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
        padding-bottom: 8vh;
    }
    .right-cards{
        width: 45vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
        padding-bottom: 8vh;
    }
    .card{
        box-sizing: border-box;
        width: 45vw;
        height: auto;
        border-radius: 15px;
        gap: 10vw;
        text-decoration: none;
        color: #121111;
    }
    .card-img1{
        width: 45vw;
        height: auto;
        border-radius: 15px;
        object-fit: cover;
        padding: 0;
    }
    img{
        width: 100%;
        border-radius: 15px;
    }
    h3{
        font-weight: 600;
        padding-top: 2vw;
        font-size: 1.3rem;
    }
    .card-info{
        color: #787676;
        padding-top: 2vw;
        font-size: 1rem;
    }
    .card-price{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1;
        padding-top: 3vw;
    }
    .price-number{
        font-weight: 600;
        font-size: 1.2rem;
        color: #292526;
        padding-top: 0.7vh;
    }
    .valoration{
        font-size: 1.1rem;
        color: #292526;
    }

footer{
    background-color: #292526;
    box-sizing: border-box;
    width: 96vw;
    height: 8vh;
    margin-left: 2vw;
    border-radius: 50px;
    bottom: 0;
    z-index: 10;
    position: fixed;
    align-items: center;
    padding-left: 13vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.img-cat-footer{
    width: 20vw;
}
.home-button{
    width: 7vw;
}




/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) {
    .container{
        left: 5px;
    }
    footer{
        margin-left: 1.1vw;
        width: 98vw;
        height: 7vh;
        align-items: center;
        padding-left: 13vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .right-cards{
        position: relative;
        left: 1.4vw;
    }
    .filter--items1{

        width: 22vw;
        height: 5vh;
        padding: 0.8vh 1vw;
        border-radius: 10px;
        font-size: 1.2rem;
    }
    .filter--items{

        width: 22vw;
        height: 5vh;
        padding: 0.8vh 1vw;
        border-radius: 10px;
        font-size: 1.2rem;
    }
    .filter-icon{
        width: 25px;

    }
    .search-container{
        box-sizing: border-box;
        width: 100%;
    }
    .search-input{
        width: 80vw;
        height: 2vh;
        margin-bottom: 1.5vh;
        border: 1px solid #cac9c9;
        border-radius: 10px;
        position: absolute
    }
    .search-filter{
        width: 12vw;
        height: 3vh;
        margin-bottom: 1.5vh;
        position: absolute;
        right:10px;
    }

}

/* Escritorio */
@media only screen and (min-width: 1023px)
{
    .container{
        margin-top:6vh
    }
    .left-cards{
        display: flex;
        flex-wrap: nowrap;
        margin:0;
        padding: 0;
    }
    .right-cards{
        display: flex;
        flex-wrap: nowrap;
        margin:0;
        padding: 0;
        

    }
    .main{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 100px;
        
        
    }
    img{
        width: 25vw;
        height: 40vw;
    }
    footer{
        
        top:0;
        margin-left: 0;
        width: 100%;
        border-radius: 0;
        
    }
    .username{
        position: relative;
        margin-top:
        26px ;
        bottom: 20px;
    }
    .search-container{
        position: relative;
        top:20px;
    }
    .search-filter{
        width: 20vw;
        height: 7vh;
        margin-bottom: 1.5vh;
        position: absolute;
        right: 10px;
    }

    .filters-container{
        position: relative;
        top: 20px;
        
    }

}


